.button {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    border-radius: 40px;
    padding: 17px 38px;
}


@media (max-width: 1190px) {
.button {
    padding: 17px 27px;
}
}

@media (max-width: 880px) {
.button {
    padding: 15px 20px;
}
}